body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial,
    'Lucida Grande', sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0' gradientTransform='rotate(89,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%2342e0ff'/%3E%3Cstop offset='1' stop-color='%2370ffe5'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(187,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23a3ffd6'/%3E%3Cstop offset='1' stop-color='%23ccff59'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='66'%3E%3Cpath transform='translate(-79.45 14.799999999999999) rotate(8.35 1409 581) scale(1.0242259999999999)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='22' transform='translate(-58 49) rotate(11.700000000000001 800 450) scale(1.018934)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(34.5 -120) rotate(114 401 736) scale(1.018934)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='20'%3E%3Cpath transform='translate(294 -13.6) rotate(3.4 150 345) scale(0.962742)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='44' transform='translate(-163 -125.5) rotate(133.20000000000002 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='translate(-260.4 83.6) rotate(22.2 1400 132) scale(0.97)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}
.hidden{
  display: none !important;
}
.mb0{
  margin-bottom: 0;
}
.ml1{
  margin-left: 1vw;
}
a {
  text-decoration: none;
  color:#141a4d;
}

.card a {
  text-decoration: underline;
  color:black;
  display: block;
  margin-top: 1em;
  font-weight: bold;
}

.card a:hover{
  text-decoration: underline;
}

img {
  max-width: 100%;
}

nav {
  width: 100%;
background: whitesmoke;
color: black;
position: sticky;
top: 0;
}

nav a {
  color: black;
  padding: 1rem;
  display: inline-block;
}

h1, h2{
}
span{
  background-color: #141a4d;
  border-radius: 1em;
  color: white;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 3px;
  padding-bottom: 5px;
  border: none;
  display: inline-flex;
  margin-top: 1vh;
  margin-right: 1vh;
}
.content {
  padding: 1rem;
}
.full{
  width: 100%;
  height: 50vh;
}
.card{
  box-shadow: 0 2px 20px rgba(183, 179, 179, 0.19), 0 3px 6px rgba(200, 200, 200, 0.23);
  border-radius: 1em;
  padding: 2em;
  margin-left: 1vw;
  margin-right: 1vw;
  margin-top: 1em;
  margin-bottom: 1em;
  flex: 1;
  background-color: #e4e8eb;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23ffffff' stroke-width='40.7' stroke-opacity='0' %3E%3Ccircle fill='%23e4e8eb' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23e6e9ec' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23e7ebed' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23e9ecef' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23eaedf0' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23eceff1' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23edf0f2' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23eff1f3' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23f1f3f4' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23f2f4f6' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23f4f5f7' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23f5f7f8' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%23f7f8f9' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%23f9fafa' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%23fafbfb' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%23fcfcfd' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%23fdfefe' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23ffffff' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: inherit;
background-size: cover;
}
.card h2{
  margin-top: 1vh;
  margin-bottom: 1vh;
  font-size: 20px;
}
.card p{
  font-weight: 600;
}
.flex-row{
  display: flex;
  flex-direction: row;
}
.about div.card:first-child{
flex: 3;
}
.about div.card:last-child{
  display: flex;
flex-direction: column;
justify-content: center;
}
.project {
  flex-direction: row;
}
.project div.card:first-child{
  display: flex;
  flex: 3;
  overflow: scroll;
  scroll-padding: auto;
  align-items: center;
  flex-direction: column;
}
.project img{
  width: auto;
  margin-left: 1vh;
  margin-right: 1vh;
  margin-bottom: 1em;
}
.label::-webkit-scrollbar {
  display: none;
}

.btn-cta{
  background: #1c17acdb;
color: white !important;
padding-top: 2vh;
padding-bottom: 2vh;
text-align: center;
border-radius: 1em;
font-weight: bold;
box-shadow: 0 5px 15px rgba(60, 55, 183, 0.39), 0 3px 6px rgb(236, 247, 237);
margin-top: 1em;
margin-left: auto;
margin-right: auto;
padding-left: 2em;
padding-right: 2em;
border: none;
}
.aqua{
  background: aquamarine;
    height: fit-content;
    position: sticky;
    top: 1em;
}
.aqua a{
  margin-right: 1vh;
}
@media only screen and (max-width: 768px) {
  body{
    background-size: unset;
  }
  .flex-row{
    flex-direction: column;
  }
  .label{
    display: flex;
    align-items: flex-start;
    overflow: scroll;
  }
  nav{
    position: fixed;
    bottom: 0;
    top: unset;
    text-align: center;
display: flex;
justify-content: space-evenly;
  }
  .row{
    margin-bottom: 4em;
  }
  .project{
    flex-direction: column;
    overflow-x: scroll;
    width: 100%;
    scroll-padding: auto;
  }

  .project div.card:first-child{
    padding: 1em;
    flex: unset;
  }
  .project div.card:last-child{
    display: block;
justify-content: space-around;
align-items: center;
  }
  .project img{
    width: 100%;
    height: auto;
    margin-bottom: 1em;
    margin-left: unset;
    margin-right: unset;
  }
  .aqua{
    flex-direction: column;
  }

}